
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recipe Details</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container ">
        <nav>
            <a class="btn btn-primary" href="/dashboard">Home</a>
            <a class="btn btn-primary" href="/add_recipe">Add Recipe</a>
            <a class="btn btn-danger" href="/logout" >Logout</a>   
        </nav>
            
            

        <div class="row">
                <h1 class="text-center">{{one_recipe.recipe_name}} Recipe Page</h1>
                <div class="col-md-3">
                    <div>                         
                        
                    </div>
                </div>
                <div class="col-md-5">
                    <div>
                        <div>
                            <h2 class="text-center">Ingredients: </h2class>
                            <h4 class="text-center">{{one_recipe.recipe_ingredients}}</h4>
                        </div>
                        <div>
                            <h2 class="text-center">Instructions:</h2>
                            <h4 class="text-center">{{one_recipe.recipe_instructions}}</h4>
                        </div>
                        <div>
                            <h2 class="text-center">Servings: </h2>
                            <h4 class="text-center">{{one_recipe.recipe_servings}}</h4>
                        </div>
                        <div>
                            <h2 class="text-center">Cook Time:</h2>
                            <h4 class="text-center">{{one_recipe.recipe_cook_time}}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <h2 class="text-left">Posted By: </h2>
                        <h4 class="text-left">{{one_recipe.created_by_user.nick_name}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
